.cid-JP .cid-char {
    color: #d32f2f;
}
.cid-KR .cid-char {
    color: #6245b2;
}
.cid-CN .cid-char {
    color: #ffab00;
}
.cid-TW .cid-char {
    color: #43a047;
}
.cid-HK .cid-char {
    color: #2a3b93;
}

.cid-font-override-JP .cid-char {
    font-family: var(--preview-font-forceJP);
}
.cid-font-override-KR .cid-char {
    font-family: var(--preview-font-forceKR);
}
.cid-font-override-CN .cid-char {
    font-family: var(--preview-font-forceCN);
}
.cid-font-override-TW .cid-char {
    font-family: var(--preview-font-forceTW);
}
.cid-font-override-HK .cid-char {
    font-family: var(--preview-font-forceHK);
}

.cid-JP1 .cid-char {
    color: #10dede;
    font-family: var(--preview-font-forceJP);
}
.cid-JP2 .cid-char {
    color: #0BA4B3;
    font-family: var(--preview-font-forceJP);
}
.cid-JP3 .cid-char {
    color: #078197;
    font-family: var(--preview-font-forceJP);
}
.cid-JP4 .cid-char {
    color: #057089;
    font-family: var(--preview-font-forceJP);
}
.cid-JP0 .cid-char {
    color: #035E7B;
    font-family: var(--preview-font-forceJP);
}

.cid-KR1 .cid-char {
    color: #E9FF70;
    font-family: var(--preview-font-forceKR);
}
.cid-KR2 .cid-char {
    color: #D3E368;
    font-family: var(--preview-font-forceKR);
}
.cid-KR3 .cid-char {
    color: #BCC75F;
    font-family: var(--preview-font-forceKR);
}
.cid-KR4 .cid-char {
    color: #8F8F4D;
    font-family: var(--preview-font-forceKR);
}
.cid-KR0 .cid-char {
    color: #525126;
    font-family: var(--preview-font-forceKR);
}

.cid-Mix .cid-char {
    color: #59344F;
}


#rows-display.outline-text .cid-JP .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #d32f2f;
}
#rows-display.outline-text .cid-KR .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #6245b2;
}
#rows-display.outline-text .cid-CN .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #ffab00;
}
#rows-display.outline-text .cid-TW .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #43a047;
}
#rows-display.outline-text .cid-HK .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #2a3b93;
}
#rows-display.outline-text .cid-JP1 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #10dede;
}
#rows-display.outline-text .cid-JP2 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #0BA4B3;
}
#rows-display.outline-text .cid-JP3 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #078197;
}
#rows-display.outline-text .cid-JP4 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #057089;
}
#rows-display.outline-text .cid-JP0 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #035E7B;
}
#rows-display.outline-text .cid-KR1 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #E9FF70;
}
#rows-display.outline-text .cid-KR2 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #D3E368;
}
#rows-display.outline-text .cid-KR3 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #BCC75F;
}
#rows-display.outline-text .cid-KR4 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #8F8F4D;
}
#rows-display.outline-text .cid-KR0 .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #525126;
}
#rows-display.outline-text .cid-Mix .cid-char {
    color: transparent;
    -webkit-text-stroke: 1px #59344F;
}