.row {
    display: block;
    border: 1px solid grey;
    margin: 6px 0;
}

.row-header {
    display: flex;
    margin: 0;
    padding: 0;
}

.row-unicode {
    padding: 0.5em 1em;
    background-color: #333;
    color: white;
    font-weight: bold;
}
.row-disp-char {
    padding: 0.1em;
    font-size: 1.5em;
    font-weight: bold;
}
.row-block {
    margin: auto 0em auto 0.25em;
    padding: 0.2em 1em;
    border: 1px solid grey;
    color: grey;
    border-radius: 1em;
    font-size: small;
}

.cids {
    display: flex;
    flex-wrap: wrap;
    padding: 0.4em;
    column-gap: 0.4em;
    row-gap: 0.4em;
}

.cid {
    /* provide position for absolute reference*/
    position: relative; 
    border: 1px solid grey;
    min-width: calc(var(--preview-font-size) + var(--preview-gap));
    min-height: calc(var(--preview-font-size) + var(--preview-gap));
}

.cid-locale {
    position: absolute;
    top: 0;
    left: 0;
    font-size: small;
    padding: 2px 0;
}
.cid-lang {
    padding: 0.2em;
    background-color: grey;
    color: white;
    z-index: 2;
}
.cid-equiv, .cid-AJ6{
    padding: 0 0.2em;
}
br + .cid-AJ6 {
    padding-top: 0.3em;
}
.cid-char {
    position: absolute;
    font-size: var(--preview-font-size);
    font-family: var(--preview-font-family);
    font-weight: var(--preview-font-weight);
    font-variation-settings: "wght" var(--preview-font-weight);
    text-spacing-trim: space-all;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    text-align: center;
}
.cid-info {
    position: absolute;
    top: 2px;
    right: 2px;
    font-size: small;
    z-index: 2;
}
.cid-info * {
    display: block;
    text-align: right;
}